---
// @ts-nocheck
import Layout from "../../layouts/Layout.astro";
import RichText from "./RichText";

export async function getStaticPaths() {
  const res = await fetch(
    `${import.meta.env.PUBLIC_STRAPI_URL}/api/posts?populate=users_permissions_user`
  );
  const result = await res.json();

  if (!Array.isArray(result.data)) {
    console.error("Strapi returned invalid data:", result);
    return [];
  }

  return result.data.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;

if (!post) {
  return Astro.redirect("/404", 302);
}
---

<Layout title={post.title} description={post.title}>
  <div class="container">
    <p>slug: {post.slug}</p>
    <h2>title: {post.title}</h2>
    <h3>
      <RichText content={post.description} />
    </h3>
    <p>author: {post.users_permissions_user?.username}</p>
  </div>
</Layout>
